rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && (
        request.auth.token.admin == true ||
        request.auth.token.email in [
          'support@billiq.site',
          'mehtavatsal24@gmail.com',
          'admin@billiq.site'
        ]
      );
    }

    match /users/{userId} {
      allow read, write: if signedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}
